nav{
	height:7%;
   }
   
ul.menu>li{
	width:20%;
	font-size:0.9em;	
   }
   
ul.menu>li:last-child{
	font-size:0.8em;	
   }
   
h2{
	font-size:1em;
	padding-top:0.4em;
  }
  
p,h3,aside{
	font-size:0.9em;
  }
  
img{
	width:50%;
	height:70%;
   }
   
iframe{
	width:80%;
   }
   
.flex-container{
	align-items:baseline; 
   }