<!DOCTYPE html>
<html lang = "ro">
	<head id="#top">
		<title>Asasinari si disparitii istorice</title>
		<meta charset="utf-8">
		<meta name="description" content="Despre asasinarea celor mai influenti si importanti oameni ai secolului XX, aspectele ce declanseaza suspiciunea opinia publica.">
		<meta name="keywords"    content="teorie,conspirationista,guvern,asasinare,ascunde,controverse, Paul McCartney, Beatles">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="author"      content="Alina Mocanu">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="../imagini/eye_of_providence.png" sizes="16x16"/>
		<link rel ="stylesheet" href ="../stiluri_css/stil_general.css" type = "text/css"/>
		<link type="text/css" href="../stiluri_css/media-400-650.css" rel="stylesheet" media="(min-width:400px) and (max-width:650px)"/>
		<link type="text/css" href="../stiluri_css/media-651-942.css" rel="stylesheet" media="(min-width:651px) and (max-width:942px)"/>
	</head>
	<body >
		<header>
				 <%- include("../fragmente/header") %>
	<br> <br><br>
				<h1 class="grid-item">Teorii conspirationiste-cutremurul lumii moderne<br>Asasinari si disparitii istorice</h1>
				<aside><b>Asasinatele</b> unor persoane influente ridica semne mari de intrebare datorita informatiilor vagi.</aside>
		</header>
				<div class="container">
					<section class="grid-item" id="kennedy">
						<h2>Asasinarea presedintelui american John F. Kennedy</h2>
						<p title="conspiratie">Una din cele mai faimoase <b>teorii conspirationiste</b> care continua sa alimenteze dezbateri este <b>asasinarea</b> <b>presedintelui
						american</b> <abbr title="John Fitzgerald Kennedy">JFK</abbr>. Ipoteza care conduce sustine ca au existat mai multi <b>asasini</b>,
						deoarece e imposbil ca glontul care l-a omorat pe <b>presedintele american</b> sa fi ranit si pasagerul din dreapta. In ceea ce priveste adevaratii <b>asasini</b>,
						parerile sunt impartite: <abbr title="Federal Bureau of Investigation">FBI</abbr>, mafia sau Uniunea Sovietica trezesc suspiciuni in randul celor ce cred in aceasta <b>teorie</b>.</p>
						<article>
							<h3>John F. Kennedy</h3>
							<p title="ceva">John Fitzgerald Kennedy (n. <time datetime="1917-05-29" >29 mai 1917</time>, Brookline, SUA – d. <time datetime="1963-11-22">22 noiembrie 1963</time> Dallas, SUA), cunoscut și ca John F. Kennedy, JFK sau "Jack Kennedy", a fost cel de-al treizeci și cincilea președinte al Statelor Unite ale Americii. A servit din 1961 până la <b>asasinarea</b> sa survenită în ziua de <time datetime="1963-11-22">22 noiembrie 1963</time>, la Dallas, Texas. A fost unul dintre membrii cei mai proeminenți ai familiei Kennedy implicați în politică,
							fiind totodată considerat un stindard al liberalismului american.</p>
						</article>
						<figure>
							<img class="border" src="../imagini/JohnFKennedy.jpg" alt="John F. Kennedy" title="John F. Kennedy">
							<figcaption>John F. Kennedy</figcaption>
						</figure>
			</section>
			<section class="grid-item" id="mccartney">
				<h2> Moartea lui Paul McCartney</h2>
				<p title="conspiratie">O <b>teorie</b> pe cat de ciudata, pe atat de ridicola. <b>Conspirationistii</b> sustin ca membrul trupei <i>Beatles</i>, <b>Paul McCartney</b>
				a fost omorat intr-un accident de masina in <time>1966</time>. Pentru a salva trupa, casa de discuri ar fi acoperit tragicul eveniment si ar fi adus un membru identic starului.
				Ceea ce alimenteaza aceasta <b>teorie</b> sunt semnele lasate de restul membrilor trupei pentru a le indica fanilor ca Paul este cu adevarat mort.
				Spre exemplu, in <i>All you need is love</i>, fanii spun ca pot auzi pe fundal &bdquo;Yes, he's dead&rdquo;.</p>
				<figure>
					<img class="border" src="../imagini/Beatles.jpg" width="600" height="350">
					<figcaption>Poza cu trupa Beatles care a facut istorie</figcaption>
				</figure>
			</section>
		</div>
		<footer>
			<a href="#top" class="button" >Catre inceputul paginii </a>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>