<!DOCTYPE html>
<html lang = "ro">
	<head id="#top">
		<title>Evenimente colosale pentru evolutia omenirii-un mit?</title>
		<meta charset="utf-8">
		<meta name="description" content="Cele mai improtante evenimente pentru evolutia omenirii, cat si originile ei sunt puse la indoaiala de doua teorii conspirationiste.">
		<meta name="keywords"    content="teorie,conspirationista,Buz Aldren,Neil Armstrong,luna, controverse, Dan Brown, Sfantul Graal,Prioria lui Sion,societate secreta, capela Rosslyn, cavalerii templieri">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="author"      content="Alina Mocanu">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="../imagini/eye_of_providence.png" sizes="16x16"/>
		<link rel ="stylesheet" href ="../stiluri_css/stil_general.css" type = "text/css"/>
		<link type="text/css" href="../stiluri_css/media-400-650.css" rel="stylesheet" media="(min-width:400px) and (max-width:650px)"/>
		<link type="text/css" href="../stiluri_css/media-651-942.css" rel="stylesheet" media="(min-width:651px) and (max-width:942px)"/>
	</head>
	<body>
		<header>
		      <%- include("../fragmente/header") %>
	<br> <br><br>
			<h1 class="grid-item">Teorii conspirationiste-cutremurul lumii moderne<br>Evenimente colosale pentru evolutia omenirii-un mit?</h1>
			<aside>Reperele si realizarile cele mai importante ale omenirii sunt puse la indoiala de <b>conspirationisti</b>.</aside>
		</header>
		 <div class="container">
			<section class="grid-item"  id="luna">
				<h2>Care a fost de fapt primul om pe luna?</h2>
				<p title="conspiratie">Aceasta <b>teorie</b> isi propune sa rescrie istoria si sa nege existenta unuia dintre cei mai mari pasi pentru omenire. <b>Conspirationistii</b> sunt de parere ca <a href="guvernulAmerican.html">guvernul american</a> si <abbr title="The National Aeronautics and Space Administration">NASA</abbr> au
				<b>inscenat</b> aterizarea pe <b>luna</b> din anul <time datetime="1969-07-20">1969</time> pentru a dobandi superioritate in fata Uniunii Sovietice care deja lansase primul om in spatiu in anul <time datetime="1961-04-12">1961</time>. Asadar, conform <b>teoriei</b>, <b>Neil Armstrong</b> si <b>Buz Aldren</b> nu au facut niciun pas pe <b>luna</b>, iar secventele vizionate de o lume intreaga au fost filmate intr-un studio.</p>
			</section>
			<section class="grid-item" id="davinci">				
				<h2>Codul lui Da Vinci</h2>
				<h3 id="#sion">Prioria lui Sion</h3>
				<p title="conspiratie">In <i>Codul lui Da Vinci</i>&#40;<time>2003</time>&#41; <b>Dan Brown</b> lanseaza o <b>teorie</b> care starneste un val larg de <b>controverse</b>.
				<b>Prioria lui Sion</b> ar fi fost o <b>societate secreta</b> mitica fondata in <time>1909</time>, avand membrii precum Sir Isaac Newton, Botticelli, Victor Hugo, si Leonardo Da Vinci care erau singurii ce stiau ca Iisus a fost insurat cu Maria Magdalena si ca au avut copii.
				Maria Magdalena si copiii lor ar fi reprezentat de fapt <b>Sfantul Graal</b>.</p>
			<section>
				<h3 id="rosslyn">Capela Rosslyn</h3>
				<p title="conspiratie"><b>Capela Rosslyn</b>, in apropiere de Edinburgh, ar fi fost construita de <b>cavalerii templierii</b>, o copie identica a Templului lui Solomon din Ierusalim care in subteran gazduieste <b>Sfantul Graal</b>. Intrarea in aceasta incapere este mentionata intr-un mesaj codat de pe grinzile capelei.
				&#40;<a href="https://www.youtube.com/watch?v=ub_yGhfhsEw">Un documentar interesant realizat de BBC</a>&#41; </p>
			</section>
			<article>
				<h3> Dan Brown </h3>
				<p title="conspiratie">Dan Brown (n. 22 iunie 1964 în Exeter, New Hampshire) este un autor american de thrillere detective de senzație, după ce a avut diverse ocupații (compozitor de cântece și profesor de limbă engleză, sau mai precis de simbologie). Brown este interesat de criptografie, chei și coduri, care sunt o temă recurentă în poveștile sale. Până în prezent,
				cărțile sale au fost traduse în peste 40 de limbi.<p>
			</article>
			</section>
		</div>
		<footer>
			<a class="button" href="#top">Catre inceputul paginii </a>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>