<!DOCTYPE html>
<html lang="ro">
	<head id="#top">
		<title>Clienti, beneficiari sau doar cobai?</title>
		<link rel ="stylesheet" href ="stil_general.css" type = "text/css"/>
		<meta charset="utf-8">
		<meta name="description" content="Teorii conspirationiste care pun sub semnul intrebarii moralitatea si etica marilor companii ce controleaza economia mondiala.">
		<meta name="keywords"    content="teorie,conspirationista,controverse, companie, Facebook,feed, banca federala,datorie,financiar,mondial">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="author"      content="Alina Mocanu">
		<link rel="shortcut icon" type="image/png" href="../imagini/eye_of_providence.png" sizes="16x16"/>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
		<link rel ="stylesheet" href ="../stiluri_css/stil_general.css" type = "text/css"/>
		<link type="text/css" href="../stiluri_css/media-400-650.css" rel="stylesheet" media="(min-width:400px) and (max-width:650px)"/>
		<link type="text/css" href="../stiluri_css/media-651-942.css" rel="stylesheet" media="(min-width:651px) and (max-width:942px)"/>
	</head>
	<body>
		<header>
		    <%- include("../fragmente/header") %>
				
	<br> <br><br>
				<h1 class="grid-item">Teorii conspirationiste-cutremurul lumii moderne<br>Clienti, beneficiari sau doar cobai?</h1>
				<aside>Institutii si <b>companii</b> ce domina <b>piata mondiala</b> nu beneficiaza de increderea deplina a opiniei publice.</aside>
		</header>
			<div class="container">
				<section class="grid-item" id="federal">
					<h2>Federal Reserve</h2>
					<p title="conspiratie">Una din <b>teoriile</b> <b>conspirationiste</b> in privinta <b>Bancii Federale</b>, e ca nu apartine <a href="guvernulamerican.html">guvernului american</a>, ci unor <b>banci private</b>.
					Istoria acestei institutii incepe in <time>1913</time>, cand un grup de bancheri instariti au decis sa elimine concurenta dintre ei,
					sa-si uneasca fortele pentru dominatie <b>financiara</b> <b>mondiala</b>. Cele mai ciudate <b>teorii</b> sustin ca a fost implicata in <b>asasinarea</b>
					lui <abbr title="John Fitzgerald Kennedy">JFK.</abbr> sau ca e un instrument al Vaticanului. Desi istoria si functionarea acestei institutii este invelita in <b>teorii conspirationiste</b>, una dintre ele pare
					sa atraga in mod deosebit atentia opiniei publice: <b>Banca Federala</b> ne face <b>datori</b>. Spre exemplu, daca sunt printati 1000$ pentru a fi dati drept imprumut, inapoi <b>banca</b> cere 1100$, desi acei 100$ nu exista, si asa apar <b>datoriile</b>.
					&#40;<a href="https://www.youtube.com/watch?v=CAYkmutzcrU">Un scurt documentar care explica pe larg aceasta teorie</a>&#41;</p>
				</section>
				<section class="grid-item"  id="fb">
					<h2>Facebook-&bdquo;Do we really value your privacy?&rdquo;</h2>
					<p title="conspiratie">Probabil ca ti s-a intamplat odata sau de mai multe ori sa vezi in <b>feed-ul</b> tau o reclama la inghetata la care tocmai te gandeai,
					sau la televizorul despre care vorbeai cu un coleg de munca. Desi compania neaga cu vehementa acuzatiile, opinia publica refuza sa renunte
					la ipoteza ca <b>Facebook</b> ne <em>consulta</em> conversatiile si istoricul navigarii pentru a genera reclame. E destul de greu de contracarat o astfel de afirmatie
					avand in vedere omniprezenta <b>companiei</b> in viata <b>utilizatorilor</b>, dar mai ales scandalul privind <b>compania</b> <a href="https://www.cnet.com/news/facebook-cambridge-analytica-data-mining-and-trump-what-you-need-to-know/">Cambridge Analytica</a>, cand datele a 87 de milioane de oameni au fost folosite pentru un studiu statistic.</p>
					<figure>
						<img class="border" src="../gifuri/MarkZuckerberg.webp" alt="Mark Zuckerberg nervously sipping water" title="Mark Zuckerberg">
						<figcaption>Mark Zuckerberg</figcaption>
					</figure>
				</section>
			</div>
		<footer>
				<a href="#top" class="button">Catre inceputul paginii </a>
				<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>