<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="utf-8" />
		<title>Comunitate</title>
		<link rel ="stylesheet" href ="../stiluri_css/stil_general.css" type = "text/css"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="../../js/indexJS.js"></script>
	</head>
	<body>
	<header>
	<%- include("../fragmente/header") %>
	</header>
	</body>
</html>