<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Guvernul american</title>
		<meta charset="utf-8">
		<meta name="description" content="Doua dintre cele mai controversate teorii legate de guvernul american care au facut inconjurul lumii">
		<meta name="keywords"    content="armata,extraterestru,baza militara 51,teorie,conspirationista,guvern,Illuminati,UFOs,secret,Adam Weishaupt,american">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="author"      content="Alina Mocanu">
		<link rel="shortcut icon" type="image/png" href="../imagini/eye_of_providence.png" sizes="16x16"/>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
		<link rel ="stylesheet" href ="../stiluri_css/stil_general.css" type = "text/css"/>
		<link type="text/css" href="../stiluri_css/media-400-650.css" rel="stylesheet" media="(min-width:400px)and (max-width:650px)"/>
		<link type="text/css" href="../stiluri_css/media-651-942.css" rel="stylesheet" media="(min-width:650px) and (max-width:942px)"/>
	</head>
	<body>
		<header>
			 <%- include("../fragmente/header") %>
	<br> <br><br>
			<h1 class="grid-item">Teorii conspirationiste-cutremurul lumii moderne<br>Guvernul american</h1>
			<aside>In jurul <b>guvernului american</b> sunt conturate numeroase <b>teorii conspirationiste</b> care ating cele mai discutate subiecte: existenta <b>organizatiilor secrete</b> si a <b>vietii extraterestre</b>.</aside>
		</header>
			<div class="container">
				<section class="grid-item" id="illuminati">
					<h2>Illuminati</h2>
					<section>
						<h3>Ce e Illuminati?</h3>
						<p title="conspiratie">Probabil una din cele mai frecvente <b>teorii</b> asociate <b>guvernului</b> <b>american</b> este cea a existentei unui grup <b>secret</b> numit <b>Illuminati</b>,
						grup din care fac parte doar oameni extrem de puternici si influenti: actori, cantareti, majoritatea clasei politice si oameni de afaceri. Conform <b>teoriei</b>, scopul acestui grup este de a stabili <i>o noua ordine a lumii</i>
						, un regim totalitarist care sa subjuge intreaga planeta.</p>
					</section>
					<section>
						<h3>Cum a aparut Illuminati?</h3>
						<p title="conspiratie">Grupul isi are originile undeva in secolul XVIII, in Bavaria. Fondatorul societatii <b>secrete</b>, profesorul <b>Adam Weishaupt</b>
						avea ca scop limitarea interferentei bisericii in viata cotidiana. Cei in varsta de peste 30 de ani nu puteau adera la acest grup,
						intrucat erau considerati prea <i>conservatori</i> pentru a prezenta incredere. &#40;mai multe puteti gasi <a href="https://www.theweek.co.uk/62399/what-is-the-illuminati-and-what-does-it-control">aici</a> &#41;</p>
					</section>
					<figure>
						<img class="border" src="../imagini/Johann_Adam_Weishaupt.jpg" alt="Adam Weishaupt" title="Adam Weishaupt" width="150" height="200">
						<figcaption>Johann Adam Weishaupt</figcaption>
					</figure>
				</section>
				<section class="grid-item"  id="ufo">
					<h2><abbr title="Unidentified Flying Object">UFOs</abbr></h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/wxVRg7LLaQA"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p title="conspiratie">In <time>2004</time> si <time>2015</time>, <b>armata</b> <b>americana</b> identifica un obiect ce zbura cu o viteza incredibila contra vantului, fara urma de aripi sau metoda de propulsie. In <time>2018</time>, aceste fragmente video ajung in spatiul public,
					in mod neintentionat in urma unei erori. Un an mai tarziu, <b>guvernul</b> recunoaste ca acele videoclipuri ce le apartin nu erau menite sa ajunga la publicul larg, si mai mult, <em>ca nu au putut fi identificate</em>.
					Acest comunicat a alimentat si mai mult <b>teoriile</b> <b>conspirationiste</b> de acest fel, avand in vedere atentia deosebita pe care a primit-o <b>baza militara 51</b> in ultimul timp. Pe retelele de socializare circulau intens
					<b>teorii</b> ce sustineau ca in interiorul <b>bazei militare 51</b> se afla cele mai importante secrete ale statului <b>american</b>, precum dovada existentei vietii <b>extraterestre</b>.</p>
				</section>
			</div>
			<footer>
				<a href="#top" class="button" >Catre inceputul paginii </a>
				<%- include("../fragmente/footer") %>
			</footer>
		
	</body>
</html>