<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title>Teorii conspirationiste - cutremurul societatii moderne</title>
		<meta charset="utf-8">
		<meta name="description" content="O analiza de suprafata a celor mai cunoscute teorii conspirationiste: de la crime si disparitii nerezolvate, la actiuni imorale a marilor corporatii.">
		<meta name="keywords"    content="teorie,conspirationista,guvern,corporatie,ascunde,disparitie,populare,controverse,socant">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="author"      content="Alina Mocanu">
		<link rel="shortcut icon" type="image/png" href="../../imagini/eye_of_providence.png" sizes="16x16"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
		<link rel ="stylesheet" href ="../../stiluri_css/stil_general.css" type = "text/css"/>
		<link rel ="stylesheet" href ="../../stiluri_css/stil_pagina_principala.css" type = "text/css"/>
		<link type="text/css" href="../../stiluri_css/media-400-650.css" rel="stylesheet" media="(min-width:400px) and (max-width:650px)"/>
		<link type="text/css" href="../../stiluri_css/media-index-400-650.css" rel="stylesheet" media="(min-width:400px) and (max-width:650px)"/>
		<link type="text/css" href="../../stiluri_css/media-651-942.css" rel="stylesheet" media="(min-width:640px) and (max-width:942px)"/>
	</head>
	<body id="#top">
		<header>
			 <%- include("../fragmente/header") %>
	<br> <br><br>
			<h1 class="transform">Teorii conspirationiste - cutremurul societatii moderne</h1>
			<aside>Cele mai <b>populare</b> <b>teorii</b> <b>conspirationiste</b> care, odata ajunse in spatiul public, au starnit <b>controverse</b> si au capturat atentia opiniei publice.</aside>
		</header>
		   <div class="flex-container">
				<div class="flex-container2 flex-item" >
					<p title="conspiratie" class="flex-item2">Dupa un search rapid pe google, afli, consultand wikipedia, ce sunt <b>teoriile</b> <b>conspirationiste</b>:</p><blockquote><p class="flex-item2">O <b>teorie</b> a <b>conspirației</b> este o ipoteză neverificată avansată de un individ sau un grup de indivizi, cu scopul de a comunica o informație drept veridică, demascând o <b>conspirație</b> care ar <b>ascunde</b> acest <mark>presupus adevăr.</mark></p><footer><cite><a href="https://ro.wikipedia.org/wiki/Teorie_conspirativă">https://ro.wikipedia.org/wiki/Teorie_conspirativă</a></cite></footer></blockquote>
				</div>
				<div class="flex-container3 flex-item">
					<p title="conspiratie" class="flex-item3">Pe scurt, sunt povestile alea pe care le citesti sau auzi si te fac sa-ti pui intreaga existenta la indoiala. Partea cea mai <b>socanta</b> uneori nu e povestea in sine, ci faptul ca in timp, unele <b>teorii</b> <em>s-au dovedit a fi adevarate</em>.</p> 
					<p title="conspiratie" class="flex-item3" >Deci, daca esti fascinat de astfel de <b>teorii</b> si daca nici tu nu poti urmari un episod din <i lang="en">The Simpsons</i> fara sa te intrebi cum e posibil sa prezica atat de multe evenimente chiar si cu 20 de ani inainte &#40;<a href = "https://time.com/4667462/simpsons-predictions-donald-trump-lady-gaga/">https://time.com/4667462/simpsons-predictions-donald-trump-lady-gaga/</a> &#41; atunci ai accesat linkul potrivit. </p>
				</div>
				<figure class="flex-item">
					<img class="border" src="../../gifuri/thesimpsons.webp" alt="The Simpsons meme">
					<figcaption>The Simpsons</figcaption>
				</figure>
		  </div>
			<table id="tabrep">
				<caption>O statistica a veridicitatii teoriilor</caption>
				<thead>
					<tr>
						<th rowspan="2" colspan="2" >Teoria conspirationista</th>
						<th colspan="3">Este dovedita?</th>
					</tr>
					<tr>
						<th>Da</th>
						<th>Nu</th>
						<th>Partial</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">Guvernul american</td>
						<td>Illuminati</td>
						<td>X</td>
						<td>V</td>
						<td>X</td>
					</tr>
	
					<tr>
						<td>UFOs</td>
						<td>V</td>
						<td>X</td>
						<td>X</td>
					</tr>
					
					<tr>
						<td rowspan="2">Clienti, beneficiari sau doar cobai?</td>
						<td>Federal Reserve</td>
						<td>X</td>
						<td>X</td>
						<td>V</td>
					</tr>
	
					<tr>
						<td>Facebook</td>
						<td>X</td>
						<td>V</td>
						<td>X</td>
					</tr>
					
					<tr>
						<td rowspan="2">Asasinari si disparitii istorice</td>
						<td>Asasinarea lui John F. Kennedy</td>
						<td>X</td>
						<td>V</td>
						<td>X</td>
					</tr>
	
					<tr>
						<td>Moartea lui Paul McCartney</td>
						<td>X</td>
						<td>V</td>
						<td>X</td>
					</tr>
					
					<tr>
						<td rowspan="2">Evenimente colosale pentru evolutia omenirii-un mit?</td>
						<td>Primul om pe luna?</td>
						<td>X</td>
						<td>V</td>
						<td>X</td>
					</tr>
	
					<tr>
						<td>Codul lui Da Vinci</td>
						<td>X</td>
						<td>V</td>
						<td>X</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">Total: 2 teorii prezinta credibilitate </td>
					</tr>
				</tfoot>
			
			</table>
			
		
		
		
<h2>Guvernul american:</h2>
<h3>Illuminati</h3>
<h3>UFOs</h3>

<h2>Clienti, beneficiari sau doar cobai?:</h2>
<h3>Federal Reserve</h3>
<h3>Facebook</h3>

<h2>Asasinari si disparitii istorice:</h2>
<h3>Asasinarea presedintelui american John F. Kennedy</h3>
<h3>Moartea lui Paul McCartney</h3>

<h2>Evenimente colosale pentru evolutia omenirii-un mit?:</h2>
<h3>Care a fost de fapt primul om pe luna?</h3>
<h3>Codul lui Da Vinci</h3>
		<footer>
			<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>

</html>