<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="utf-8" />
		<title>Register</title>
		<link rel ="stylesheet" href ="../stiluri_css/stil_general.css" type = "text/css"/>
		<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=qJ8Y5xXX9Wo4W0xaO2-NuHMNrisBHScH8SYD87fa69drXQ2LHReBaG5PizI91zvoa6copgGw5-QuMNfKRqvO1l--vmFZRRlYHu3Q1r6UklPa7dlsUd6Q1zGebiv2dXspjy4dj0m8l6JoXkJARymDgQ" charset="UTF-8"></script>
		<script src="../../js/registerJS.js"></script>
		
	</head>
	<body>
	<header>
	   <%- include("../fragmente/header") %>
	</header>
	</body>
</html>